/*structure HTML*/

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #DDDDDD;
    font-family: "Arvo";
}

.frame {
    text-align: center;
}

.titre {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mainframe {
    width: 50%;
    margin-left: 15%;
}

.divblockimg {
    display: inline-block;
    position: absolute;
    width: 500px;
    /*vertical-align: top;*/
    z-index: 1;
}

.visible {
    display: none;
    min-width: 320px;
    text-align: left;
}

.posimg {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 0;
}


/*Pastilles*/

.forme {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.forme:hover {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 0, 0, 0.7);
    border-radius: 25px;
}


/*Positions pastilles*/

#r1 {
    position: absolute;
    z-index: 3;
    left: 8px;
    top: 90px;
}

#r2 {
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 220px;
}

#r3 {
    position: absolute;
    z-index: 3;
    left: 32px;
    top: 340px;
}

#r4 {
    position: absolute;
    z-index: 3;
    left: 72px;
    top: 420px;
}

#r5 {
    position: absolute;
    z-index: 3;
    left: 82px;
    top: 240px;
}

#r6 {
    position: absolute;
    z-index: 3;
    left: 115px;
    top: 185px;
}


/*position textes*/

#p1 {
    position: relative;
    z-index: 2;
    left: 170px;
    bottom: 90px;
}

#p2 {
    position: relative;
    z-index: 2;
    left: 178px;
    bottom: 220px;
}

#p3 {
    position: absolute;
    z-index: 2;
    left: 146px;
    bottom: 160px;
}

#p4 {
    position: absolute;
    z-index: 2;
    left: 105px;
    bottom: 190px;
}

#p5 {
    position: absolute;
    z-index: 2;
    left: 95px;
    bottom: 110px;
}

#p6 {
    position: absolute;
    z-index: 2;
    left: 63px;
    bottom: 100px;
}


/*hover textes*/

#r1:hover #p1 {
    display: block;
}

#r2:hover #p2 {
    display: block;
}

#r3:hover #p3 {
    display: block;
}

#r4:hover #p4 {
    display: block;
}

#r5:hover #p5 {
    display: block;
}

#r6:hover #p6 {
    display: block;
}